<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.comeze.rangelti.hashisushiadmin">

    <application
        android:name=".utils.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".views.ActInfo" />
        <activity android:name=".views.ActEntregando" />
        <activity android:name=".views.ActPedidos" />
        <activity android:name=".views.ActPedPreparo" />
        <activity android:name=".views.ActEditarUser" />
        <activity android:name=".views.ActUsuarios" />
        <activity android:name=".views.ActItensOrder" />
        <activity android:name=".views.ActProdutos" />
        <activity android:name=".views.ActRegProd" />
        <activity android:name=".views.ActPedidosConfirm" />
        <activity android:name=".views.ActHome" />
        <activity android:name=".views.ActLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>